{% extends 'base.html' %}
{% block title %}Portfolio ni {{ student.full_name }}{% endblock %}

{% block content %}
<h2>Portfolio ni {{ student.full_name }}</h2>

<h3>Projects</h3>
<ul>
    {% for project in projects %}
        <li><strong>{{ project.title }}</strong>: {{ project.description }}</li>
    {% empty %}
        <li>Wala pang projects.</li>
    {% endfor %}
</ul>

<h3>Skills</h3>
<ul>
    {% for skill in skills %}
        <li>{{ skill.name }} - {{ skill.level }}</li>
    {% empty %}
        <li>Wala pang skills.</li>
    {% endfor %}
</ul>
{% endblock %}
